<div class="container-fluid bg">
    <!--Add a channel-->
    <div *ngIf="show" class="container-fluid text-right but">
        <button type="button"  class="input-group-addon btn btn-secondary btn-xlarge" id="submit"
            (click)="onClick()">(+)</button>
            
        <div id="add" *ngIf="add">
            <label>Channel Name :</label>
            <input [(ngModel)]="cname" placeholder="Channel Name" />
            <br><label>Channel Public: </label>
            <label>
                <input type="checkbox" [(ngModel)]="cpublics">
            </label><br />
            <button type="button" class="input-group-addon btn btn-secondary btn-xlarge" id="submit" placeholder="Add"
                (click)="onClick1()">submit</button>
        </div>

    </div>

    <ul *ngIf="channels" class="list-group text-center">
        <li *ngFor="let channel of channels" (click)="channelClick(channel)" class="list-group-item bg-primary">
            <span class="badge">#{{channel.channel_name}}</span>
        </li>
    </ul>

    <ul *ngIf="users" class="list-group text-center label">
        <li *ngFor="let dm of users" (click)="userClick(dm)" class="list-group-item bg-primary">
            <span class="badge">#{{dm.username}}</span>
        </li>
    </ul>

</div>