<div class="container">
  <!-- <div class="jumbotron">
    <h1>Welcome</h1>
    <h2>Angular ajsnd</h2>
  </div>

  <div class="panel panel-primary">
    <div class="panel-heading">
      Status
    </div> -->
<!-- 
    <div class="panel-body">
      <h3>{{title}}</h3>
    </div> -->

    <router-outlet></router-outlet>
    <!-- <app-login></app-login> -->
    <!-- <app-nav></app-nav> -->
    <!-- <app-chatpage></app-chatpage> -->
    <!-- <app-cm-chatpage></app-cm-chatpage> -->
  </div>
<!-- </div> -->