.jumbotron{
    background:transparent !important;
    margin-top: 0;
    padding-top: 5vh;
}

.jt{
    max-height: 20vh;
    margin-bottom: 4px;
}

.list-extend {
    height: auto !important;
    padding-bottom: 20vh !important;
}