<!-- Header
    1. #Direct-Message OR #Channel
    2. To {{username}} OR {{channelname}}
-->
<div class="container">
    <div class="jumbotron">
        <h1>#Direct-Message</h1>
        <h2>User2</h2>
    </div>
</div>

<!-- Where Messages appear -->
<div class="container-fluid">

</div>

<!-- Where to type messages ! -->

<div class="container-fluid input-group fixed-bottom padding-bottom">
    <textarea class="form-control z-depth-1" id="message" rows="3" placeholder="Write something here..."></textarea>
    <button type="button" class="input-group-addon btn btn-primary btn-xlarge" id="submit"
        placeholder="Send">Send</button>

</div>